<div class="container">
    <h1>What does the map() higher order function do?</h1>
    <blockquote>
        <h3>Array.prototype.map</h3>
        The map() method creates a new array by calling the callback function provided as an argument on every element in the
        input array. The map() method will take every returned value from the callback function and creates a new array using
        those values.

        The callback function passed to the map() method accepts 3 arguments: element, index, and array.
    </blockquote>
    <a href="https://blog.bitsrc.io/understanding-higher-order-functions-in-javascript-75461803bad">Source</a>
</div>
